<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') %>
</head>

<body>
  <form class="add_task" action="/add" method="POST">
    <h1>Todo</h1>
    <input type="text" name="title" class="add" placeholder="New Task" required>
    <select name="priority" class="add">
      <option value="High">High</option>
      <option value="Medium">Medium</option>
      <option value="Low">Low</option>
    </select>
    <input style="background-color:#218838; color: white;" type="submit" class="add" value="Add Task">
  </form>
  <div class="view_task">
    <h2>Tasks</h2>
    <ul>
      <% todos.forEach(todo=> { %>
        <li class="all_li">
          <span class="li_form">
            <%= todo.title %> - <%= todo.priority %>
          </span>
              <form action="/delete/<%= todo._id %>" method="POST">
                <a class="btn_blue" href="/edit/<%= todo._id %>">Edit</a>
                <button class="btn_red" type="submit">Delete</button>
              </form>
              <% }) %>
        </li>


    </ul>
  </div>
</body>

</html>